/*=================================================
			Style for Home
===================================================*/
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.page-wrapper{
	background-color: #E4E4E4;
	min-height: 100%;
	position: relative;
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/

}
.header{
	background-color: #187390;
	padding: 0 15%;
	color: #ffffff;
}
.logo{
	display: inline-block;
}
.menubar{
	padding-top: 30px;
    text-align: right;
}
.menubar>a{
	margin-left: 10px;
	color: #ffffff;
}
.content{
	background-color: #ffffff;
    padding: 15px 35px 20px 50px;
    margin: 0 20% 15px;
}
.content ul{
	list-style-image: url(../image/bullet.gif);
}
.content p{
	text-align: justify;
}
.wrapper>hr{
	margin-top: 45px;
    background-color: #B1B1B1;
    height: 1px;
}
.footer{
	background-color: #000000;
	padding: 0 15%;
	color: #ffffff;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: -80px;
}
/*=================================================
			Style for Sign up
===================================================*/
.sign-up-content{
	background-color: #ffffff;
    padding: 15px 35px 20px 50px;
    margin: 0 20% 15px;
    
}
.sign-up-content .form-info,.sign-up-content h1{
	text-align: center;
}
/*=================================================
			Style for Find a job
===================================================*/
.find-jobs-content{
	background-color: #ffffff;
    padding: 15px 35px 20px 50px;
    margin: 0 20% 15px;
    
}
.find-jobs-content a.job-content{
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.job-content-box{
	background-color: #E4E4E4;
	box-shadow: 0 0 1px #000000;
	padding: 5px;
	margin-bottom: 10px;
}
.job-title{
	margin-top: 0;
	font-size: 18px;
}
.application-deadline{
	float: right;
}

/*=================================================
			Style for CV builder
===================================================*/

.cv-builder-content{
	background-color: #ffffff;
    padding: 15px 35px 20px 50px;
    margin: 0 20% 15px;
    overflow: overlay;
}
.cv-builder-content hr{
	/*margin-top: 45px;*/
    background-color: #B1B1B1;
    height: 1px;
}