@{
    ViewBag.Title = "Home Page";
}
<div class="content">
				<div class="row">
					<div class="col-md-6">
						<h1>Write a CV</h1>
						<ul>
							<li>Build a professional CV online</li>
							<li>Choice of CV template designs</li>
							<li>Save as Microsoft Word or PDF</li>
							<li>Easy to use with step-by-step help</li>
							<li>Packed full of examples </li>
							<li>Effective phrases and action words to use</li>
							<li>Customise CV layout and look</li>
							<li>Print or email using your browser</li>
							<li>Cover letters and more...</li>
						</ul>
					</div>

					<div class="col-md-6">
							<a href="@Url.Action("Index", "Home")"><img class="img-responsive" alt="Getstarted" src="~/Images/getstarted.jpg"></a>
					</div>
				</div>
				<h1>A cv in a nutshell</h1>
				<p>What is a CV? CV stands for curriculum vitae which is Latin for ‘the course of my life’. It's a document that enables potential employers to learn basic facts about you and your job related experience, achievements, skills, and education. Once you have prepared and submitted your CV to an employer the hope is that you will be asked to attend a job interview.
				A typical CV will include individual sections for contact details, work history, and education. Most CVs will be sorted by chronological order (most recent first). It is a good idea to have a summary section at the start of your CV that condenses your experience, achievements, skills, and education into a single paragraph.

				Probably the biggest mistake people make when writing CVs, excluding poor spelling and grammar, is that they re-write their job description. To learn how to write a CV you need to invest a lot of thought and effort in what you can do for an employer.
				What have you achieved for your current or previous employer during your work there? What skills do you have that are transferable to a new job? Don’t just make unsubstantiated statements or claims. For example, rather than writing ‘excellent interpersonal skills’ demonstrate this by also writing ‘as demonstrated when chosen by my supervisor to meet and greet customers and to listen to and evaluate their initial requirements’.

				</p>
			</div>